﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BarypKel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/menu.css">
</head>
<body>
    <header class="mb-5">
        <div id="cssmenu">
            <ul>
                <li class="active"><a href="index.html"><span>zMountain</span></a></li>
                <li class="has-sub">
                    <a href="#"><span>Category</span></a>
                    <ul>
                        <li class="has-sub">
                            <a href="#"><span>Item 1</span></a>
                            <ul>
                                <li><a href="#"><span>Sub Item</span></a></li>
                                <li class="last"><a href="#"><span>Sub Item</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#"><span>Item 2</span></a>
                            <ul>
                                <li><a href="#"><span>Sub Item</span></a></li>
                                <li class="last"><a href="#"><span>Sub Item</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Events" asp-action="Create"><span>Событие</span></a></li>
                }
                <li><a href="single.html"><span>About</span></a></li>
                <li class="last"><a href="contact.html"><span>Contact</span></a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BarypKel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
