﻿@using BarypKel.Data.Models

@model LoginViewModel

@{
    ViewData["Title"] = "Вход в приложение";
}

<div class="row">
    <div class="col-md-4 m-auto mt-5">
        <section>
            <h2>Вход в приложение</h2>
            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="login_form-group">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" id="validemail" class="text-danger"></span>
                </div>
                <div class="login_form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" id="validpassword" class="text-danger"></span>                   
                </div>
                <div class="login_form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe"></label><br />
                        <input asp-for="RememberMe" />
                    </div>
                </div>
                <div class="login_form-group mt-5">
                    <button type="submit" class="btn-primary">Войти</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}